.cartomancy-board > .ui.button {
  opacity: .5;
  width: 250px;
}

.cartomancy-list {
  background: #e9e9e9;
  border-radius: 3px;
  display: inline-block;
  height: 100%;
  margin: 0;
  margin-right: 10px;
  padding: 5px;
  vertical-align: top;
  width: 250px;
}

.cartomancy-list > h2, .cartomancy-list > h2 input {
  color: rgba(0, 0, 0, .90) !important;
  font-size: 1em !important;
  font-weight: bold !important;
  margin-bottom: 10px;
  text-align: center !important;
}

.cartomancy-list .cartomancy-cards {
  height: 100%;
}
